<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">  Electricity Theft Detection </h1>

    
    <% /* %>

    <p class="secret-text">Price :   <%= y %></p>
    
    <% */ %>

    <p class="secret-text">Theft Detections</p>
    <hr>
    
    <table style="width:100%" class="table table-striped" id="customers" >
      <thead>
        <tr>
          <th>Customer Id</th>
          <th>Details of Customer</th>
          <th>Theft</th>
         
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < (y.length)-1;i=i+2) { %>
            <tr scope="row">   
              <td scope="col"><%= y[i] %> </td> 
              <td scope="col"> Name : Ambuj || Mob no : 9889055776</td>       
            <td scope="col"><%= y[i+1] %> </td>                    
          </tr>
      
          <%  } %>
      </tbody>

</table>
















    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

  </div>
</div>

<%- include('partials/footer') %>
